.clientInfo {
    text-align: left;
    margin-top: 20px;
}

.clientInfo > .client_item {
    display: flex;
    margin-bottom: 15px;
}

.clientInfo > .client_item > label {
    width: 100px;
}

.clientInfo > .client_item > input {
    width: 200px;
    margin-right: 10px;
}
