div.MobileClient
{
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.list {
  width: 50%;
}

.MobileClient > .active {
  background-color: green;
}

.MobileClient > .blocked {
  background-color: red;
}
